.bckcolor{
  background-color: #151515;
}

.bck {
  background-image: url(../../public/images/bg-footer.png);
  min-height: calc(100vh - 200px);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #151515;
}