.brandd{
  width: 100px;
  height: 20px;
}

.decoration {
  text-decoration: none !important;
  color: #B3BFB3 !important;
}

@media only screen and (max-device-width: 480px) {
  .teste > span {
    background-image: url(../../public/images/menu.png) !important;
    background-repeat: no-repeat !important;
  }

  .btn_color{
    border: 2px solid;
  }
  
  .bdr_color{
    border-bottom: 2px solid;
  }

  .decoration {
    text-decoration: none !important;
    color: #B3BFB3 !important;
  }
}

