.bck {
  background-color: #151515;
}

.circle::before {
  content: "";
  position: absolute;
  left: -41px;
  top: -14px;
  height: 150%;
  width: 150%;
  background-image: url(/_next/static/media/circle.94dd9fb6.png);
  background-size: cover;
}

.pos {
  position: relative;
}

.wave::before {
  content: "";
  position: absolute;
  left: 43px;
  top: 32px;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(/_next/static/media/line1.290b4d40.png);
  background-size: 155px;
}

@media only screen and (max-device-width: 767px) {
  .circle::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 66px;
    height: 128%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/_next/static/media/circle.94dd9fb6.png);
    background-size: 155px;
  }

  .pos {
    position: relative;
  }

  .wave::before {
    content: "";
    position: absolute;
    left: 47px;
    top: 100px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/_next/static/media/line1.290b4d40.png);
    background-size: 125px;
  }
}
